<!--jumbotron  -->
<div class="section jumbotron jumbotron-fluid container-fluid center col-12 ml-sm-2 ml-md-0">

    <h1 class="display-4 animate__animated animate__zoomIn white font2 fontheavy">Hey, hungry!</h1>

    <h1><br>WELCOME TO STREET FOOD HUNTERS!</h1>
    <hr class="line">

    <br>
    <a class="btn btn-danger btn-lg" style="width: 13rem; font-size: medium" href="#first" role="button">ABOUT US</a>
</div>



<!-- container1 -->
<div id="first" class="center section main1 container-fluid slideInDown ml-sm-2 ml-md-0">
    <h1>WHY STREET FOOD?</h1><br>
    <hr class="line">
    <h2 class="text-black-50">

        <span>"</span> Sometimes you miss THAT food you had in the night market during your trip to
        somewhere<span>"</span>
    </h2>

    <h4>We genuinely love foods and really want to let people share their own secret recipes!</h4>

    <button type="button" id="exploreButton" class="red btn btn-light">
        Check us out</button>

    <div id="more" class="hidden black ml-sm-2 ml-md-0">

        <br>
        <div class="row center col-12">
            <div class="row1_profile col-12">
                <img src="alex.png" alt="a" class="profilepic">
            </div>
            <div class="row2_profile col-10">
                <h1 class="font2">Alex Cheung</h1>
                <h4 >
                    <span class="white">" </span>Hi! I am Alex and I love foods and pocketmon!  <span class="white">"</span>
                </h4>
            </div>
        </div>


        <br>
        <div class="row center col-12">
            <div class="row1_profile">

                <img src="christine.jpg" alt="c" class="profilepic col-12"></div>

            <div class="row2_profile col-10">
                <h1 class="font2">Christine Chen</h1>
                <h4>
                     <span class="white">" </span>Hi! I am Christine and I also love foods and photography!<span class="white">"</span>
                </h4>
            </div>
        </div>
        <br>



        <div class="row center col-12">
            <div class="row1_profile col-12">

                <img src="pullip.jpg" alt="p" class="profilepic">
            </div>

            <div class="row2_profile col-10">
                <h1 class="font2">Pullip Lee</h1>
                <h4>
                   <span class="white">" </span> Hi! I am Pullip and I live to eat. I workout to eat more!<span class="white">"</span>
                </h4>
            </div>
            <br>
        </div>

        <div class="row center"><i id="close" class="fas fa-chevron-up" style="font-size:2rem; padding-top: 3rem;"></i>
        </div>


    </div>
</div>

{{!-- <!-- container3 -->

    <div id="third" class="section main3 container-fluid">
        <h1>Describe Me</h1>
        <hr class="line">
        <div class="row">
            <div class="icon col-sm-12 col-md-6 col-lg-3">
                <i class="orange fas fa-meh-blank animated bounceIn delay-1s"></i>
                <h3><br>Gamer</h3>
                <p class="text-secondary">Work hard, try until it works!</p>
            </div>
            <div class="icon col-sm-12 col-md-6 col-lg-3">
                <i class="orange fas fa-meh animated bounceIn  delay-2s"></i>
                <h3><br>Creative
                </h3>
                <p class="text-secondary">Try to think out of the box, that might bring you amazing way!</p>
            </div>
            <div class="icon col-sm-12 col-md-6 col-lg-3">
                <i class="orange fas fa-grin animated bounceIn delay-3s"></i>
                <h3><br>Open for talk
                </h3>
                <p class="text-secondary">Love to talk to different people, share ideas and experience!</p>
            </div>
            <div class="icon col-sm-12 col-md-6 col-lg-3">
                <i class="orange fas fa-grin-beam animated bounceIn delay-4s"></i>
                <h3><br>Detail-oriented</h3>
                <p class="text-secondary">Small difference makes a big change, I do repect details.
                </p>
            </div>
        </div> --}}
</div>


</div>