<!--jumbotron  -->
    <div class="section jumbotron jumbotron-fluid container-fluid center">
        
        <h1 class="display-4 animate__animated animate__zoomIn white font2 fontheavy">Hey, hungry!</h1>

        <h1><br>WELCOME TO STREET FOOD HUNTERS!</h1>
        <hr class="line">

        <br>
        <a class="btn btn-danger btn-lg" style="width: 13rem; font-size: medium" href="#third" role="button">ABOUT US</a>
    </div>



    <!-- container1 -->
    <div id="first" class="section main1 container-fluid slideInDown">
        <h1>WHY STREET FOOD?</h1><br>
        <hr class="line">
        <h3 class="text-black-50">

            <span>"</span> Sometimes you miss THAT food you had in the night market during your holiday to somewhere<span>"</span>
        </h3>

        <p>Always keen on meeting people from different backgrounds. Started from Thailand, I lived in UK, Vietnam and
            now in Hong Kong! </p>

        <button type="button" id="exploreButton" class="btn btn-light">
            Explore more</button>

        <div id="more" class="hidden">
            <br>
            <h3 class="text-black-50">What did you do before?</h3>
            <p>
                Right before joining this Bootcamp, I worked for Matchesfashion.com as a fraud analyst which is one of
                the
                biggest luxury fashion<br>e-commerce platforms.I mainly analise live orders, detect suspicious orders
                and
                further investigate them. It was being like an online detective!<br> During work,I had to use an
                undercover name. I was Amy Santiago! Before this role, I worked for Burberry e-commerce customer service
                team. <br>With my experience, I have depth knowledge of E-commerce and luxury fashion market.</p>
            <br>
            <h3 class="text-black-50">Why Web Developer?</h3>
            <p>In both positions, I came accross many situations that I want company platforms to be adjusted or to
                create
                new platform which are more user friendly.<br> Even though I was in position of represent of user
                testing
                for certain project, there were lots of limitations within company's procedure. <br>So I decided to
                learn
                myself how to create the programs, combining with my understanding of user's experience.
            </p>

            <br><br><button type="button" class="btn btn-light">
                <a href="https://drive.google.com/file/d/1as7ZxWBxksXu9GHmm4VlcaqUkhztD-cS/view?usp=sharing">Download CV</a> </button>


            <br><i id="close" class="fas fa-chevron-up" style="font-size:2rem; padding-top: 3rem;"></i>
        </div>

    </div>

    {{!-- <!-- container3 -->

    <div id="third" class="section main3 container-fluid">
        <h1>Describe Me</h1>
        <hr class="line">
        <div class="row">
            <div class="icon col-sm-12 col-md-6 col-lg-3">
                <i class="orange fas fa-meh-blank animated bounceIn delay-1s"></i>
                <h3><br>Gamer</h3>
                <p class="text-secondary">Work hard, try until it works!</p>
            </div>
            <div class="icon col-sm-12 col-md-6 col-lg-3">
                <i class="orange fas fa-meh animated bounceIn  delay-2s"></i>
                <h3><br>Creative
                </h3>
                <p class="text-secondary">Try to think out of the box, that might bring you amazing way!</p>
            </div>
            <div class="icon col-sm-12 col-md-6 col-lg-3">
                <i class="orange fas fa-grin animated bounceIn delay-3s"></i>
                <h3><br>Open for talk
                </h3>
                <p class="text-secondary">Love to talk to different people, share ideas and experience!</p>
            </div>
            <div class="icon col-sm-12 col-md-6 col-lg-3">
                <i class="orange fas fa-grin-beam animated bounceIn delay-4s"></i>
                <h3><br>Detail-oriented</h3>
                <p class="text-secondary">Small difference makes a big change, I do repect details.
                </p>
            </div>
        </div> --}}
    </div>


    </div>

