<!-- sign up part -->
<div class="signup">
    <br>
    <h1 class="grey">Forgot password</h1><br>


    <form>
        {{!-- the security question user input during signup will come here --}}


        <h4>What is your username?</h4>
        <div class="form-group row">

            <div class="col-sm-10">
                <input type="text" class="form-control" id="username">
            </div>
        </div>
        <h4>What is the first teacher's name in your primary school?</h4>
        <div class="form-group row">

            <div class="col-sm-10">
                <input type="text" class="form-control" id="securityA">
            </div>
        </div>


        <br>
        <div class="form-group row d-flex justify-content-center">
            <div>
                <button type="submit" class="btn btn-lg btn-dark">Submit</button>
            </div>
        </div>


    </form>
</div>