<!-- sign up part -->
<div class="signup">
    <br>
    <h1 class="grey">Forgot password</h1><br>


    <form>
        {{!-- the security question user input during signup will come here --}}
        <h4>Where is your primary school at?</h4>
        <div class="form-group row">

            <div class="col-sm-10">
                <input type="text" class="form-control" id="securityA">
            </div>
        </div>


        <br>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-outline-dark">Submit</button>
            </div>
        </div>
    </form>
</div>