<!-- sign up part -->
<div class="signup">
    <br>
    <h1 class="grey">Forgot password</h1><br>


    <form action="/forgotpassword" method="post">
        {{!-- the security question user input during signup will come here --}}

 <div class="form-group row">
            <label for="pwInput" class="col-sm-12 col-form-label">What is your email address?</label>
            <div class="col-sm-12">
                <input type="email" name="email" class="form-control" id="pwInput"
                    placeholder="Password must contain more than 8 characters">
            </div>
        </div>

       <div class="form-group row">
            <label for="pwInput" class="col-sm-12 col-form-label">What is the name of your first primary school teacher?</label>
            <div class="col-sm-12">
                <input type="text" name="securityA" class="form-control" id="pwInput"
                    placeholder="This question will be asked if you forget your password">
            </div>
        </div>

        <div class="form-group row">
            <label for="pwInput" class="col-sm-12 col-form-label">New Password</label>
            <div class="col-sm-12">
                <input type="password" name="password" class="form-control" id="pwInput"
                    placeholder="Password must contain more than 8 characters">
            </div>
        </div>

        <div class="form-group row">
            <label for="pwConfirm" class="col-sm-12 col-form-label">Confirm Password</label>
            <div class="col-sm-12">
                <input type="password" class="form-control" id="pwConfirm" placeholder="Please confirm the password">
            </div>
        </div>

        <br>
        <div class="form-group row d-flex justify-content-center">
            <div>
                <button type="submit" class="btn btn-lg btn-dark">Submit</button>
            </div>
        </div>


    </form>
</div>