  <div class="book roundborder row" id="indexpage">

            

            <!-- pic screen -->
            <div class="screen col-sm-12">
                <br>
                <h1>What to eat today?</h1>
                <video id="screenvideo" src="bg.mp4"></video>


                <img src="fishball.jpg" class="hidden" id="foodimage" alt="fishball">


                <div class="buttons center">

                    <div class="knob  shadowborder green" id="start-btn">Start</div>

                    <div class="knob"></div>

                    <div class="knob  shadowborder red" id="stop-btn">Stop</div>

                </div>

                <div class="knob"></div>
            </div>

           

        </div>

    
