<div class="book roundborder cotainer-fluid" id="mypagebox">

    <h1 class="p-4 grey">Hi {{users_user_id}}!</h1>


    <h3 class="pb-4">My recipes</h3>

    <div class="book cotainer-fluid mypagerecipe" id="mypagerecipe1">

        <div class="left col-sm-12 col-md-6">
            <img id="foodimage" class="roundborder" src="fishball.jpg" alt="food">
        </div>

        <div class="middle col-sm-12 col-md-6 center">
            <br>
            {{!-- {{#each recipe}} --}}
            <h3>{{recipe_name}}</h3><br>
            <h1>{{rating}}</h1>

        </div>

    </div>


    <h3 class="py-4">Favourites</h3>
    <div class="book cotainer-fluid mypagerecipe" id="mypagerecipe1">

        <div class="left col-sm-12 col-md-6">
            <img id="foodimage" class="roundborder" src="fishball.jpg" alt="food">
        </div>

        <div class="middle col-sm-12 col-md-6 center">
            <!-- 4 -->
            <br>
            {{!-- users fav recipe ids in 1 string --}}
            {{!-- <h3>{{}}</h3><br> --}}
            <h1>★★★★★</h1>

        </div>

    </div>


</div>