<div class="book roundborder cotainer-fluid row" id="mypagebox">
    <h1 class="p-4 grey">Hi Pullip!</h1>


    <h3 class="pb-4 fontheavy">My recipes</h3>

    <div class="cotainer-fluid mypagerecipe row col-12">

        {{!-- image side --}}
        <div class="col-sm-12 col-md-6">

            <img class="roundborder mypageimg" src="fishball.jpg" alt="food">
        </div>

        {{!-- info side --}}
        <div class="container-fluid col-sm-12 col-md-6">

            <h3 class="pt-5">
                <a class="black nodeco" href='/recipe:1'>Spicy Fishball
                </a>
            </h3>

            <h1>
                <div class="rating">
                    <div class="rating-upper red" style="width:   80%">
                        <span>❤</span>
                        <span>❤</span>
                        <span>❤</span>
                        <span>❤</span>
                        <span>❤</span>
                    </div>
                    <div class="rating-lower">
                        <span>❤</span>
                        <span>❤</span>
                        <span>❤</span>
                        <span>❤</span>
                        <span>❤</span>
                    </div>
                </div>
            </h1>

        </div>


    </div>

    
    <div class="cotainer-fluid mypagerecipe row col-12">

        {{!-- image side --}}
        <div class="col-sm-12 col-md-6">

            <img class="roundborder mypageimg" src="fishball.jpg" alt="food">
        </div>

        {{!-- info side --}}
        <div class="container-fluid col-sm-12 col-md-6">

            <h3 class="pt-5">
                <a class="black nodeco" href='/recipe:1'>Spicy Fishball
                </a>
            </h3>

            <h1>
                <div class="rating">
                    <div class="rating-upper red" style="width:   80%">
                        <span>❤</span>
                        <span>❤</span>
                        <span>❤</span>
                        <span>❤</span>
                        <span>❤</span>
                    </div>
                    <div class="rating-lower">
                        <span>❤</span>
                        <span>❤</span>
                        <span>❤</span>
                        <span>❤</span>
                        <span>❤</span>
                    </div>
                </div>
            </h1>

        </div>



    </div>

    {{!-- 
    <h3 class="py-4 fontheavy">Favourites</h3>
    <div class="cotainer-fluid mypagerecipe" id="mypagerecipe1">

        <div class="left col-sm-12 col-md-6">
            <img class="roundborder mypageimg" src="fishball.jpg" alt="food">
        </div>

        <div class="middle col-sm-12 col-md-6 center">
            
            <br>
           <h3></h3><br>
            <h1>★★★★★</h1>

        </div>

    </div>  --}}


</div>