  <h1>Search</h1>
        <div id="searchcontainer">
            <div id="optionbar">   
                <form class="center">
                    <div class="form-row align-items-center">
                        <div class="col-auto my-1">
                            <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                <option selected>Location</option>
                                <option value="1">HK isalnd</option>
                                <option value="2">Kowloon</option>
                                <option value="3">New Territories</option>
                            </select>
                        </div>

                        <div class="form-row align-items-center">
                            <div class="col-auto my-1">
                                <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                    <option selected>Cuisine</option>
                                    <option value="1">Chinese</option>
                                    <option value="2">Japanese</option>
                                    <option value="3">Korean</option>
                                    <option value="4">Taiwanese</option>
                                    <option value="5">Thai</option>
                                    <option value="6">Western</option>
                                    <option value="7">Others</option>
                                </select>
                            </div>

                            <div class="form-row align-items-center">
                                <div class="col-auto my-1">
                                    <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                        <option selected>Sort</option>
                                        <option value="1">Price low</option>
                                        <option value="2">Price high</option>
                                        <option value="3">Distance</option>
                                        <option value="3">Rates</option>
                                       
                                    </select>
                                </div>

                            

                        <div class="col-auto my-1">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                <label class="custom-control-label" for="customControlAutosizing">Remember my
                                    setting</label>
                            </div>
                        </div>
                        <div class="col-auto my-1">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </form>

            </div>



            <div id="content">

                <!-- 8 -->
            </div>

        </div>