/* colour */
.green{background-color:rgba(0, 128, 0, 0.493);}
.red{background-color:rgba(255, 0, 0, 0.445);}
.yellow{background-color:blue}
.highlight{color: rgb(220, 255, 64);}
/* position */
.hidden{display: none;}
.center{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.roundborder{
    border-radius: 10px;
}
.shadowborder{
    border:rgba(71, 71, 71, 0.315)solid 5px;
}

body{font-family: 'Playfair Display', serif;}
/* navbar */
#dropdown{
    
    padding-right: 8rem;
}
#dropdownmenu{
    width: 270px;
   
}

#welcomeuser{
padding: 1rem;
}

.lgicon{
    width: 3rem;
}


/* index page */
.book{
    border: solid 1px black;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin: 0;
}

.screen{
    border: rgba(128, 128, 128, 0.082) solid;
    border-radius: 5px;
    background: rgba(128, 128, 128, 0.082);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 83vh;
}

#screenvideo{
    padding: 1rem 0;
    width: 50%;

}

#foodimage{
    padding: 1rem 0;
    width: 50%;
    filter: brightness(0.9);
}

.knob{
  width: 5rem;
  height: 5rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.596);
  font-weight: bold;
}

.knob:hover{
    filter: brightness(0.7)
}

#viewmore{
text-decoration: none;
color: rgba(0, 116, 6, 0.842);
}

/* search page */
#optionbar{
    display: flex;
    flex-direction: row;
}


/* recipe page */

#recipemain{
    border: none;
}

#food{
    width: 45vw;
    height: 100%;
    filter: brightness(0.9);
}

#recipebox{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 83vh;
}

.commentbox{
    justify-content: center;
    margin: 0.75rem;
    padding: 2rem;
}
.commentform{
    text-align: center;
}

.eachrecipe{
    border: solid 0.5px rgba(128, 128, 128, 0.096);
    padding: 2rem;

}

.minviewimg{
    width: 80%;
}

#filters{
    margin-bottom: 1rem;
}

#filters button{
    margin: 0.25rem;
}


#newrecipe{
    float: right;
    width: max-content;
    height: min-content;
    margin-top: 3rem;
}

#sort{
    float: right;
    margin-top: 0.75rem;
    width: min-content;

}

/* star rating */

.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {

    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}



