/* font */
.font2{font-family: 'Quicksand', sans-serif;}
.fontheavy{font-weight: bold;}
/* colour */
.green{background-color:rgba(13, 122, 55, 0.856);}
.redB{background-color: rgb(179, 14, 14);}
.white{color: rgb(255, 255, 255);}
.red{color:rgba(236, 13, 13, 0.863);}
.yellow{color:rgb(221, 235, 23)}
.grey{color: rgb(107, 105, 105);}
.black{color: rgb(0, 0, 0)};
.highlight{color: rgb(120, 45, 170)};
.nodeco{text-decoration: none; }

/* position */
.hidden{display: none;}
.center{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.roundborder{
    border-radius: 10px;
}
.shadowborder{
    border:rgba(71, 71, 71, 0.315)solid 5px;
}

.scroll{ 
    overflow-x: hidden; 
    overflow-y: auto; }

.top{z-index:1051 }

/* Body parts */

.navbar{
    font-family: 'Playfair Display', serif;
}

body{
    font-family: 'Playfair Display', serif;
    font-weight: 300;
}

.footer{
font-family: 'Quicksand', sans-serif; 
padding: 2rem 8rem;   
}


/* navbar */
#dropdown{
    
    padding-right: 10rem;
}
#dropdownmenu{
    width: 270px;
   
}

#welcomeuser{
padding: 1rem;
}

.lgicon{
    width: 3rem;
}

.lgicon:hover{ filter: opacity(0.5); cursor: pointer;}

/* index page */
.book{
    border: solid 1px rgb(0, 0, 0);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0;
}

.screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 83vh;
}

#screenvideo{
    padding: 1rem 0;
    width: 50vw;
}

#foodimage{
    padding: 0;
    width: 50vw;
    height: 65vh;
    filter: brightness(0.9);
}

.smallpic{
    width: 50vh;
    height: 40vh;
}

.knob{
  width: 8rem;
  height: 8rem;
}

#call-btn a{text-decoration: none;}
#call-btn a:hover{color: white; filter: brightness(0.9);}

/* search page */
#optionbar{
    display: flex;
    flex-direction: row;
}


/* recipe page */

#recipemain{
    border: none;
}

#food{

    width: 45vw;
    height: 40vw;
    filter: brightness(0.9);
}

#recipebox{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 83vh;
}

.commentbox{
    justify-content: center;
    margin: 0.75rem;
    padding: 2rem;
}
.commentform{
    text-align: center;
}

.eachrecipe{
    border: solid 0.5px rgba(128, 128, 128, 0.096);
    padding: 2rem;
}

#minrecipename {
    color: rgb(0, 0, 0);
    text-decoration:none;
}

#minrecipename:hover{
    color:rgb(117, 117, 117) ;
}


.minviewimg{
    width: 80%;
    height: 12rem;
}

#filters{
    margin-bottom: 1rem;
}

#filters button{
    margin: 0.25rem;
}


#newrecipe{
    float: right;
    width: max-content;
    height: min-content;
    margin-top: 3rem;
}

#sort{
    float: right;
    margin-top: 0.75rem;
    width: min-content;
}

/* my page */

#mypagebox{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.mypagerecipe{
    margin: 1rem;
    border: 1px dotted rgb(163, 163, 163);
    height: min-content;
    width: 80vw;
    direction: flex;
}

.mypageimg{
    width: 30vh;
    height: 30vh;
    padding: 1rem;
}

#minheart{
    font-size: 1.6rem;
    letter-spacing: 0.5mm;
}
#minstar{
    font-size: 2rem;
    letter-spacing: 0.4mm;
}

/* heart rating in recipe */
.rate {
    unicode-bidi: bidi-override;
    direction: rtl;
}
.rate:not(:checked) > input {
    position:absolute;
    left:-9999px;
}
.rate:not(:checked) > label {

    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: 'â¤ ';
}
.rate > input:checked ~ label {
    color: #f04444;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #ee6767;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #ff0000;
}

/* rating both for hearts and stars */
.rating {
    display: inline-block;
    unicode-bidi: bidi-override;
    color: #888888;
    font-size: 25px;
    height: 25px;
    width: auto;
    margin: 0;
    position: relative;
    padding: 0;
}
  
.rating-upper{
    padding: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    overflow: hidden;
}

.rating-lower {
    padding: 0;
    display: flex;
    z-index: 0;
}


/* small screen */
@media screen and (max-width: 600px) {
    .footer{display: none;}

    .screen{
       
        width: 100vw;
        height: max-content;}

    #screenvideo{
        width: 100%;
        z-index: -10;
    }  
    
    #foodimage{
        width: 100%;
        filter: brightness(0.9);
    }
    .knob{
        width: 4rem;
        height: 4rem;
      }
    #food{width:80vw; height: 40vh;
    }
    .scroll{
    overflow-y: none;
    overflow-x: none;
    }
    #recipebox{min-height: fit-content;}
}