/* colour */
.white{color:white;}
.red{color:red;}
.black{color:black;}
.center{
    display: flex;
    align-content: center;
    justify-content: center;
}

body{font-family: 'Playfair Display', serif;}

.roundborder{
    border-radius: 10px;
}

#maincontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

/* search page */
#optionbar{
    display: flex;
    flex-direction: row;
}


/* recipe page */
#book{
    min-height: 85vh;
    border: solid 1px black;
    padding:1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
#food{
    width: 45vw;
    height: 100%;
    filter: brightness(0.9);
}
.middle p{
    font-weight: 900;
    font-size: 1.5rem;
}
.middle ul{
    font-size: 1.25rem;
}

